# Python files
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.sqlite3

# Virtual environment
env/
venv/
.rasa-env/
rasa-env/

# Rasa models
models/
*.tar.gz

# Rasa logs
logs/
*.log

# Data cache
*.db
*.db-journal
*.sqlite
.cache/
*.swp
*~
.rasa
.rasa/cache

# Rasa specific
results/
tests/
*.md
credentials.yml
endpoints.yml

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Sensitive files
.env
.env.local
.env.*
*.secret

# IDE and editor specific files
.vscode/
.idea/

# Node.js related files (if you're using Node.js)
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# MacOS specific
*.DS_Store
